<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3><a href="/semi/approval">결재내역</a></h3>
    <h3><a href="/semi/appDetail">결재조회</a></h3>
    <h3><a href="/semi/require">요청사항폼</a></h3>
    <h3><a href="/semi/main.ms">메신저</a></h3>

    <form action="login.me" method="post">
    <input type="text" id="empId" name="empId">
    <input type="password" id="empPwd" name="empPwd">

        <button type="submit">로그인</button>
    </form>

    <a href="enrollForm.me">회원가입</a>

</body>
</html>