<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approveMapper">

    <resultMap id="appResultset" type="Approvement">
        <result column="app_no" property="appNo"/>
        <result column="emp_no" property="empNo"/>
        <result column="emp_name" property="empName"/>
        <result column="app_title" property="appTitle"/>
        <result column="app_content" property="appContent"/>
        <result column="create_date" property="createDate"/>
        <result column="app_status" property="appStatus"/>
        <result column="app_date" property="appDate"/>
        <result column="app_showstatus" property="appShowStatus"/>
        <result column="dept_title" property="deptTitle"/>
        <result column="job_title" property="jobTitle"/>
        <result property="managerNo" column="manager_no"/>
        <result property="managerName" column="manager_name"/>
        <result property="managerDept" column="manager_dept"/>
        <result property="managerJob" column="manager_job"/>
        <result property="finalNo" column="final_no"/>
        <result property="finalName" column="final_name"/>
        <result property="finalDept" column="final_dept"/>
        <result property="finalJob" column="final_job"/>
        <result property="managerStatus" column="manager_status"/>
        <result property="finalStatus" column="final_status"/>
    </resultMap>
    <select id="selectListCount" resultType="_int">
        select count(*)
        from app_board
        where app_showstatus = 'Y'
    </select>

    <select id="selectList" resultMap="appResultset">
        select app_no
             , emp_name
             , app_title
             , app_content
             , create_date
             , app_status
             , app_date
             , app_showstatus
             , dept_title
             , manager_status
             , final_status
        from app_board
        join employee_tb using (emp_no)
        join department using (dept_code)
        where app_showstatus = 'Y'
        order by app_no desc
    </select>

    <select id="selectAppBoard" resultMap="appResultset">
        select app_board.app_no
        , emp_no
        , employee_tb.emp_name         as "emp_name"
        , app_board.app_title as "app_title"
        , app_board.app_content as "app_content"
        , app_board.create_date as "create_date"
        , app_board.app_status as "app_status"
        , app_board.app_date as "app_date"
        , app_board.app_showstatus
        , department.dept_title        as "dept_title"
        , job_tb.job_title             as "job_title"
        , app_board.manager_status as manager_status
        , app_board.final_status as final_status

        -- 직속상관(J2) 정보
        , (select emp_no
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J2'
        and dept_code = (
        select dept_code
        from employee_tb
        join app_board using(emp_no)
        where app_no = #{appNo}
        and rownum = 1
        )
        and rownum = 1
        ) as manager_no

        , (select emp_name
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J2'
        and dept_code = (
        select dept_code
        from employee_tb
        join app_board using(emp_no)
        where app_no = #{appNo}
        and rownum = 1
        )
        and rownum = 1
        ) as manager_name

        , (select job_title
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J2'
        and dept_code = (
        select dept_code
        from employee_tb
        join app_board using(emp_no)
        where app_no = #{appNo}
        and rownum = 1
        )
        and rownum = 1
        ) as manager_job

        , (select dept_title
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J2'
        and dept_code = (
        select dept_code
        from employee_tb
        join app_board using(emp_no)
        where app_no = #{appNo}
        and rownum = 1
        )
        and rownum = 1
        ) as manager_dept

        -- 최종결재자(J1) 정보
        , (select emp_no
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J1'
        and rownum = 1
        ) as final_no

        , (select emp_name
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J1'
        and rownum = 1
        ) as final_name

        , (select job_title
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J1'
        and rownum = 1
        ) as final_job

        , (select dept_title
        from employee_tb
        join job_tb using(job_code)
        join department using(dept_code)
        where job_code = 'J1'
        and rownum = 1
        ) as final_dept

        from app_board
        join employee_tb using(emp_no)
        join department using(dept_code)
        join job_tb using(job_code)
        where app_board.app_showstatus = 'Y'
        and app_board.app_no = #{appNo}
    </select>

    <insert id="insertAppBoard">
        insert
        into app_board
        (
        app_no
        , app_title
        , emp_no
        , app_content
        )
        values
        (
        seq_ano.nextval
        , #{appTitle}
        , #{empNo}
        , #{appContent}
        )
    </insert>

    <update id="updateAppBoard">
        update app_board
        set app_title = #{appTitle}
        , app_content = #{appContent}
        where app_no = #{appNo}
    </update>

    <update id="updateAppStatus">
        update app_board
        set app_status = #{status}
        where app_no = #{ano}
    </update>
    <!-- 1차 승인/반려 -->
    <update id="updateManagerStatus" parameterType="map">
        UPDATE app_board
        SET manager_status = #{status}
        WHERE app_no = #{ano}
        AND manager_status = 'U'
    </update>

    <!-- 최종 승인/반려 -->
    <update id="updateFinalStatus" parameterType="map">
        UPDATE app_board
        SET final_status = #{status}
        WHERE app_no = #{ano}
        AND final_status = 'U'
    </update>
</mapper>