<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="projectMapper">

	<resultMap type="Project" id="projectResultSet">
		<result column="pjt_no" property="pjtNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="pjt_name" property="pjtName"/>
        <result column="pjt_startdate" property="pjtStartDate"/>
        <result column="pjt_enddate" property="pjtEndDate"/>
		<result column="pjt_enrolldate" property="pjtEnrollDate"/>
		<result column="pjt_count" property="pjtCount"/>
		<result column="pjt_status" property="pjtStatus"/>
		<result column="pjt_content" property="pjtContent"/>
        <result column="pjt_tags" property="pjtTags"/>
        <result column="emp_name" property="empName"/>
        <result column="job_title" property="jobTitle"/>
        <result column="dept_title" property="deptTitle"/>
	</resultMap>

	<select id="selectProjectList" resultMap="projectResultSet">
		select
		           pjt_no
                 , emp_name
                 , pjt_name
                 , pjt_startdate
                 , pjt_enddate
                 , pjt_enrolldate
                 , pjt_count
                 , pjt_status
                 , pjt_content
                 , pjt_tags
		  from project_tb
            join employee_tb using (emp_no)
	    where pjt_status in('p','c','e')
         order by pjt_startdate desc
	</select>

    <insert id="insertProject">
        <selectKey keyProperty="pjtNo" resultType="Integer" order="BEFORE">
            select seq_pno.nextval from dual
        </selectKey>
     insert
        into project_tb
            (
               pjt_no
             , emp_no
             , pjt_name
             , pjt_startdate
             , pjt_enddate
             , pjt_enrolldate
             , pjt_count
             , pjt_status
             , pjt_content
             , pjt_tags
             )
               values
             (
               #{pjtNo}
             , #{empNo}
             , #{pjtName}
             , #{pjtStartDate}
             , #{pjtEndDate}
             , #{pjtEnrollDate}
             , #{pjtCount}
             , #{pjtStatus}
             , #{pjtContent}
             , #{pjtTags}
             )
    </insert>

    <select id="selectProject" resultMap="projectResultSet">
       select
                  pjt_no
                , emp_no
                , emp_name
                , pjt_name
                , pjt_startdate
                , pjt_enddate
                , pjt_enrolldate
                , pjt_count
                , pjt_status
                , pjt_content
                , pjt_tags
                , job_title
               , dept_title
         from project_tb
           join employee_tb using (emp_no)
          JOIN job_tb using (job_code)
          join department using (dept_code)
       where pjt_no = #{pno}
    </select>

    <select id="selectEmpNoByName" resultType="Integer">
        SELECT emp_no FROM employee_tb WHERE emp_name = #{empName}
    </select>

    <insert id="insertProjectMember" parameterType="map">
        INSERT INTO projectmember_tb (pjt_no, emp_no)
        VALUES (#{mPjtNo}, #{empNo})
    </insert>

    <select id="selectProjectMember" resultMap="projectResultSet">
       select
                  pjt_no
                , emp_name
                , job_title
                , dept_title
         from projectmember_tb m
           join employee_tb e ON (m.emp_no = e.emp_no)
           join job_tb j ON (e.job_code = j.job_code)
           join department d on (e.dept_code = d.dept_code)
       where pjt_no = #{pno}
    </select>

    <select id="myProjectList" resultMap="projectResultSet">
        select
        pjt_no
        , emp_name
        , pjt_name
        , pjt_startdate
        , pjt_enddate
        , pjt_enrolldate
        , pjt_count
        , pjt_status
        , pjt_content
        , pjt_tags
        from project_tb
        join employee_tb using (emp_no)
        where pjt_status in('p','c','e')
        and emp_no = #{empNo}
        order by pjt_startdate desc
    </select>

</mapper>
