<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

    <resultMap type="Employee" id="employeeResultSet">
        <result column="EMP_NO" property="empNo"/>
        <result column="EMP_NAME" property="empName"/>
        <result column="EMP_RESINUM" property="empResinum"/>
        <result column="EMP_ID" property="empId"/>
        <result column="EMP_PWD" property="empPwd"/>
        <result column="EMP_GENDER" property="empGender"/>
        <result column="DEPT_CODE" property="deptCode"/>
        <result column="JOB_CODE" property="jobCode"/>
        <result column="EMP_PHONE" property="empPhone"/>
        <result column="EMP_EMAIL" property="empEmail"/>
        <result column="EMP_ADDRESS" property="empAddress"/>
        <result column="EMP_STATUS" property="empStatus"/>
        <result column="EMP_SIGN" property="empSign"/>
        <result column="SALARY" property="salary"/>
        <result column="BONUS" property="bonus"/>
        <result column="HIRE_DATE" property="hireDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="EMP_PICTURE" property="empPicture"/>
        <result column="MESSENGER_STATUS" property="messengerStatus"/>
        <result column="DEPT_TITLE" property="deptTitle"/>
        <result column="JOB_TITLE" property="jobTitle"/>
    </resultMap>

    <select id="selectListCount" resultType="_int">
        SELECT count(*)
          FROM employee_tb
         WHERE emp_status = 'Y'
    </select>

    <select id="selectList" resultMap="employeeResultSet">
        select emp_no
             , emp_id
             , emp_name
             , emp_resinum
             , emp_id
             , emp_pwd
             , emp_gender
             , e.dept_code
             , e.job_code
             , emp_phone
             , emp_email
             , emp_address
             , emp_status
             , emp_sign
             , salary
             , bonus
             , to_char(hire_date, 'YYYY-MM-DD') as "hire_date"
             , modify_date
             , dept_title
             , job_title
          from employee_tb e, department d, job_tb j
         where emp_status = 'Y'
           and e.dept_code = d.dept_code
           and e.job_code = j.job_code
    </select>

    <select id="selectEmployee" resultMap="employeeResultSet">
        select emp_picture
            , emp_name
            , emp_status
            , emp_id
            , emp_phone
            , emp_address
            , dept_title
            , job_title
            , emp_resinum
            , emp_email
            , to_char(hire_date, 'YYYY-MM-DD') as "hire_date"
            , salary
            from employee_tb e, department d, job_tb j
            where e.dept_code = d.dept_code
            and e.job_code = j.job_code
            and emp_no = #{empNo}

    </select>

</mapper>