<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
    <resultMap type="Employee" id="employeeResultSet">
        <result column="emp_no" property="empNo" />
        <result column="emp_name" property="empName" />
        <result column="emp_id" property="empId" />
        <result column="emp_pwd" property="empPwd" />
        <result column="emp_gender" property="empGender" />
        <result column="dept_code" property="deptCode" />
        <result column="job_code" property="jobCode" />
        <result column="emp_phone" property="empPhone" />
        <result column="emp_email" property="empEmail" />
        <result column="emp_address" property="empAddress" />
        <result column="emp_status" property="empStatus" />
        <result column="emp_sign" property="empSign" />
        <result column="salary" property="salary" />
        <result column="bonus" property="bonus" />
        <result column="hire_date" property="hireDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="emp_picture" property="empPicture" />
        <result column="messenger_status" property="messengerStatus" />
    </resultMap>


    <select id="loginMember" resultMap="employeeResultSet">
    select
          emp_no
        , emp_name
        , to_char(emp_resinum, 'yyMMdd') as "emp_resinum"
        , emp_id
        , emp_pwd
        , emp_gender
        , dept_code
        , job_code
        , emp_phone
        , emp_email
        , emp_address
        , emp_status
        , emp_sign
        , salary
        , bonus
        , to_char(hire_date, 'yyyy-MM-dd') as "hire_date"
        , modify_date
        , emp_picture
        from EMPLOYEE_TB
        where emp_status = 'Y'
        and emp_id = #{ empId }
    </select>

    <insert id="insertMember">
        insert
            into EMPLOYEE_TB
        (
              emp_id
            , emp_pwd
            , emp_no
            , emp_name
            , dept_code
            , job_code
            , hire_date
            , emp_resinum
            , emp_gender
            , emp_address
            , emp_phone
            , emp_email
        )
        values
        (
              #{ empId }
            , #{ empPwd }
            , SEQ_ENO.NEXTVAL
            , #{ empName }
            , #{ deptCode }
            , #{ jobCode }
            , #{ hireDate }
            , #{ empResinum }
            , #{empGender}
            , #{empAddress}
            , #{empPhone}
            , #{empEmail}
        )
    </insert>

    <update id="updateMember">
            update EMPLOYEE_TB
        set emp_name = #{empName}
            , emp_no = #{empNo}
            , emp_id = #{empId}
            , emp_resinum = #{empResinum}
            , dept_code = #{deptCode}
            , job_code = job_code
            , salary = salary
            , modify_date = sysdate
          where emp_id = #{empId}
    </update>

    <update id="deleteMember">
        update EMPLOYEE_TB
            set status = 'N'
          where emp_id = #{ empId }
            and status = 'Y'
    </update>

    <select id="idCheck" resultType="_int">
        select
                count(*)
            from EMPLOYEE_TB
          where emp_id = #{checkId}
    </select>


</mapper>