<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="messengerMapper">
    <resultMap type="Message" id="messageResultSet">
        <result column="msg_no" property="msgNo" />
        <result column="emp_sno" property="empSno" />
        <result column="emp_rno" property="empRno" />
        <result column="msg_content" property="msgContent" />
        <result column="msg_date" property="msgDate" />
        <result column="sendEmp_name" property="sendEmpName" />
    </resultMap>

    <update id="updateMsOnline">
        update employee_tb
           set messenger_status = 'Y'
         where emp_id = #{empId}
    </update>

    <update id="updateMsOffline">
            update employee_tb
               set messenger_status = 'N'
             where emp_id = #{empId}
    </update>

    <insert id="sendMessage">
        insert
          into message_tb
             ( msg_no
             , emp_sno
             , emp_rno
             , msg_content
             )
        values
             (
               seq_mno.nextval
             , #{empSno}
             , #{empRno}
             , #{msgContent}
             )
    </insert>

    <select id="selectChatList" resultMap="messageResultSet">
        select
               m.msg_no
             , m.emp_sno
             , m.emp_rno
             , m.msg_content
             , to_char(m.msg_date, 'HH:MI PM') as "msg_date"
             , e.emp_name as "sendEmp_name"
             , m.msg_date as "sort_date"
          from message_tb m
          join employee_tb e on (m.emp_sno = e.emp_no)
         where (m.emp_sno = #{empSno} and m.emp_rno = #{empRno})
            or (m.emp_sno = #{empRno} and m.emp_rno = #{empSno})
         order
            by m.msg_date asc
    </select>

    <select id="wholeChatRoomR" resultMap="messageResultSet">
        select
                msg_no
             ,  emp_name as "sendEmp_name"
             ,  msg_content
             ,  to_char(msg_date, 'HH:MI PM') as "msg_date"
          from (
                select msg_no
                     , emp_name
                     , emp_sno
                     , msg_content
                     , msg_date
                     , ROW_NUMBER() OVER (PARTITION BY emp_sno ORDER BY msg_date DESC) as rn
                  from message_tb
                  join employee_tb ON (emp_sno = emp_no)
                 where emp_rno = #{empRno}
                ) ranked
           where rn = 1
           order
              by msg_date DESC
    </select>

    <select id="wholeChatRoomS" resultMap="messageResultSet">
        select
               msg_no
             , emp_name as "receiveEmp_name"
             , msg_content
             , to_char(msg_date, 'HH:MI PM') as "msg_date"
          from (
                select
                       msg_no
                     , emp_name
                     , emp_sno
                     , msg_content
                     , msg_date
                     , ROW_NUMBER() OVER (PARTITION BY emp_rno ORDER BY msg_date DESC) as rn
                  from message_tb
                  join employee_tb ON (emp_rno = emp_no)
                 where emp_sno = #{empSno}
                ) ranked
        where rn = 1
        order
        by msg_date DESC;
    </select>

    <select id="selectChatRoom" resultMap="messageResultSet">
        select
               msg_no
             , emp_name as "sendEmp_name"
             , msg_content
             , to_char(msg_date, 'HH:MI PM') as "msg_date"
          from message_tb m
          join employee_tb on (emp_sno = emp_no)
         where (emp_rno = #{empRno} and emp_sno = #{empSno})
           and m.msg_date = (
                             select max(msg_date)
                               from message_tb
                              where (emp_rno = #{empRno} and emp_sno = #{empSno}))
    </select>

    <select id="selectMessage" resultMap="messageResultSet">
        select
               msg_no
             , emp_Sno
             , emp_Rno
             , msg_content
             , msg_date
          from message_tb
         where emp_Rno = #{empNo}
    </select>

</mapper>