<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="scheduleMapper">

    <resultMap type="Schedule" id="scheduleResultSet">
        <result column="sch_no" property="schNo"/>
        <result column="sch_name" property="schName"/>
        <result column="sch_content" property="schContent"/>
        <result column="sch_startdate" property="schStartDate"/>
        <result column="sch_enddate" property="schEndDate"/>
        <result column="emp_no" property="empNo"/>
        <result column="sch_enrolldate" property="schEnrollDate"/>
        <result column="sch_status" property="schStatus"/>
        <result column="emp_name" property="empName"/>


    </resultMap>

    <select id="selectScheduleList" resultMap="scheduleResultSet">
        select
                  sch_no
                , sch_name
                , sch_content
                , sch_startdate
                , sch_enddate
                , emp_no
                , sch_enrolldate
                , sch_status
                , emp_name
         from schedule
           join employee_tb using (emp_no)
       where sch_status != 'n'
        and sch_status != 'c'
    </select>

    <insert id="insertSchedule">
        insert
            into schedule
            (
              sch_no
            , sch_name
            , sch_content
            , sch_startdate
            , sch_enddate
            , emp_no
            , sch_enrolldate
            , sch_status
            )
            values
            (
              seq_pno.nextval
            , #{schName}
            , #{schContent}
            , #{schStartDate}
            , #{schEndDate}
            , #{empNo}
            , #{schEnrollDate}
            , #{schStatus}
            )
    </insert>

    <select id="confirmScheduleList" resultMap="scheduleResultSet">
        select
        sch_no
        , sch_name
        , sch_content
        , sch_startdate
        , sch_enddate
        , emp_no
        , sch_enrolldate
        , sch_status
        , emp_name
        from schedule
        join employee_tb using (emp_no)
        where sch_status != 'e'
    </select>

    <update id="denySchedule" parameterType="int">
        update schedule
        set sch_status = 'n'
        where sch_no = #{schNo}
    </update>

    <update id="progressSchedule" parameterType="int">
        update schedule
        set sch_status = 'p'
        where sch_no = #{schNo}
    </update>

</mapper>
