<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleafe/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- script by bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- style by bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <th:block th:replace="~{common/header :: header}"></th:block>
</header>

<main>
    <th:block layout:fragment="content">
        <div style="height:900px"></div>
    </th:block>
</main>

<footer>
    <th:block th:replace="~{common/footer :: footer}"></th:block>
</footer>
</body>
</html>
