<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="approveMapper">

    <resultMap id="appResultset" type="Approvement">
        <result column="app_no" property="appNo"/>
        <result column="emp_name" property="empName"/>
        <result column="app_title" property="appTitle"/>
        <result column="app_content" property="appContent"/>
        <result column="create_date" property="createDate"/>
        <result column="app_status" property="appStatus"/>
        <result column="app_date" property="appDate"/>
        <result column="app_showstatus" property="appShowStatus"/>
        <result column="dept_title" property="deptTitle"/>
        <result column="job_title" property="jobTitle"/>
    </resultMap>
    <select id="selectListCount" resultType="_int">
        select count(*)
        from app_board
        where app_showstatus = 'Y'
    </select>

    <select id="selectList" resultMap="appResultset">
        select app_no
             , emp_name
             , app_title
             , app_content
             , create_date
             , app_status
             , app_date
             , app_showstatus
             , dept_title
        from app_board
        join employee_tb using (emp_no)
        join department using (dept_code)
        where app_showstatus = 'Y'
        order by create_date desc
    </select>

    <select id="selectAppBoard" resultMap="appResultset">
        select app_no
             , emp_name
             , app_title
             , app_content
             , create_date
             , app_status
             , app_date
             , app_showstatus
             , dept_title
             , job_title
        from app_board
        join employee_tb using (emp_no)
        join department using (dept_code)
        join job_tb using (job_code)
        where app_showstatus = 'Y'
        and app_no = #{appNo}
    </select>

    <insert id="insertAppBoard">
        insert
        into app_board
        (
        app_no
        , app_title
        , emp_no
        , app_content
        )
        values
        (
        seq_ano.nextval
        , #{appNo}
        , #{appTitle}
        , #{empNo}
        , #{appContent}
        )
    </insert>
</mapper>